<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007238485282-p66jc7rvh3n3if99i3v5pgo3r64i1r1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007238485282-p66jc7rvh3n3if99i3v5pgo3r64i1r1r</string>
	<key>API_KEY</key>
	<string>AIzaSyBPmZdRHdL7TmIATps3lgnYrXtNaWKk3-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1007238485282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pumpTracker</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-32f72</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-32f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007238485282:ios:8a6dacd4bf5f7d62a1417b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-32f72.firebaseio.com</string>
</dict>
</plist>
